.topbar-container {
    display: flex;
    height: 40px
    align-items: right;
    justify-content: space-between;
    background-color: #2f3947; /* Just for visualization */
    padding: 10px; /* Adjust as needed */
}

.topbar-content {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Center content */
}

.topbar-content a{
    flex: 0 0 auto;
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.topbar-content a i {
    padding: 2px 8px 0 0;
}

.topbar-content a:hover {
    color: #eaebed;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* Just for visualization */
    padding: 10px; /* Adjust as needed */
}

.left-image, .right-image {
    flex: 0 0 auto; /* Prevent images from stretching */
}

.right-image2 {
    flex: 0 0 auto; /* Prevent images from stretching */
    margin-left: 20px
}

.title-content {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center content */
}

.title-content h1 {
    margin: 0; /* Remove default margin */
}

/* Define the grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns */
    gap: 20px; /* Adjust as needed */
}
/* Style the grid items */
.grid-item {
    text-align: center;
}

/* Style the images */
.grid-item img {
    max-width: 100%; /* Ensure images don't exceed container width */
}

/* Style the text */
.grid-item p {
    margin: 5px 0; /* Adjust spacing */
}

.center-image {
    display: block; /* Ensures the image behaves like a block element */
    margin: auto; /* Centers the image horizontally */
}

.form-container {
    display: flex;
    align-items: flex-start;
}

.form-container form {
    margin-left: 20px; /* Adjust as needed */
}

.form-container img {
    width: 650px; /* Set the width of the image */
    margin-right: 20px; /* Adjust as needed */
    margin-left: 60px; /* Adjust as needed */
}
.account-container {
    display: grid;
    grid-template-columns: 200px 200px; /* Two columns of equal width */
    grid-column-gap: 20px; /* Gap between columns */
    grid-row-gap: 10px;
}

/* Style for labels */
.account-container label {
    text-align: left; /* Align labels to the right */
}

/* Style for inputs */
.account-container input {
    width: 100%; /* Inputs take up full width of their container */
}

.account-button-container {
    grid-column-start: 1; /* Start from first column */
    grid-column-end: 3; /* Span across two columns */
    display: flex;
    justify-content: center; /* Center button horizontally */
}

/* Style for the button */
.account-button-container button {
    padding: 5px 5px; 
}
.account-button-container p {
    padding: 5px;
    color: red;
}