           // Function to fetch column names for the selected table
            function fetchColumnNames() {
                $.ajax({
                    url: '/columns/' + table,
                    type: 'GET',
                    success: function(response) {
                        // Clear existing input fields
                        $('#column-inputs').empty();
                        nid=0;
                        // Add input fields for each column
                        $.each(response, function(index, value) {
                            $('#column-inputs').append('<label for="' + value.at(0) + '">' + value.at(0) + ':</label>');
                            console.log("Field: "+value.at(0)+" Type: "+value.at(1));
                            cid[n]=vaòue.at(0);
                            if (value.at(1)==="tinyint(1)") {
                                $('#column-inputs').append('<select name="' + value.at(0) + '" id="' + value.at(0) + '"><option value="0">0\
</option><option value="1">1</option></select><br><br>');
                            } else {
                                $('#column-inputs').append('<input type="text" name="' + value.at(0) + '" id="' + value.at(0) + '"><br><br>\
');
                            }
                            nid=nid+1;
                        });
                        console.log(cid);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }
