<!DOCTYPE html>
<html>
<head>
    <title>Connectors Locking</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        let obj_dict={}
        objList=new Array()
        {% for type in obj_dict: %}
            objList[{{ loop.index0 }}]="{{ type }}"
            l=new Array()      
            {% for name in obj_dict[type]: %}
                l[{{ loop.index0 }}]="{{ name }}"
            {% endfor %}
            obj_dict["{{ type }}"]=l
        {% endfor %}
        console.log(objList)
        console.log(obj_dict)
        pinsBatchList=new Array()
        let pinsNList={}
        {% for row in pins_list: %}
            pinsBatchList[{{ loop.index0 }}]="{{ row[0] }}"
            pinsNList["{{ row[0] }}"]={{ row[1] }}-{{ row[2] }}-{{ row[3] }}
        {% endfor %}
        console.log(pinsBatchList)
        console.log(pinsNList)
        fastBatchList=new Array()
        let fastNList={}
        {% for row in fast_list: %}
            fastBatchList[{{ loop.index0 }}]="{{ row[0] }}"
            fastNList["{{ row[0] }}"]={{ row[1] }}-{{ row[2] }}-{{ row[3] }}
        {% endfor %}
        console.log(fastBatchList)
        console.log(fastNList)

        function lockConnectors() {
            let data={}
            data["Type"]="Pins"
            $.each(objList, function(index, obj) {
                data[obj]=document.getElementById(obj).value 
            });
            data["used"]=0
            if(document.getElementById("leftROH").checked) data["used"]=data["used"]+2
            if(document.getElementById("rightROH").checked) data["used"]=data["used"]+2
            if(document.getElementById("leftPOH").checked) data["used"]=data["used"]+1
            if(document.getElementById("rightPOH").checked) data["used"]=data["used"]+1
            data["PinsBatch"]=document.getElementById("Pins").value
            data["FastenersBatch"]=document.getElementById("Fasteners").value
        
            console.log(data)
            $.post('/attachPins', data,function(response){ location.reload(); });
        }

        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            $('#grid').on('change','[id^=Pins]',function(event){
                document.getElementById('nPins').value=pinsNList[event.target.value]
                if (pinsNList[event.target.value]==0){
                    document.getElementById("load").disabled=true;
                }
            });
            $('#grid').on('change','[id^=Fasteners]',function(event){
                document.getElementById('nFasteners').value=fastNList[event.target.value]
                if (fastNList[event.target.value]==0){
                    document.getElementById("load").disabled=true;
                }
            });
            $('#grid').on('change','[class=trigger-change]',function(event){
                used=0
                if(document.getElementById("leftROH").checked || document.getElementById("rightROH").checked || document.getElementById("leftPOH").checked || document.getElementById("rightPOH").checked){
                    document.getElementById("load").disabled=false;
                    document.getElementById("Pins").disabled=false;
                    document.getElementById("Fasteners").disabled=false;
                }
                else{
                    document.getElementById("load").disabled=true;
                    document.getElementById("Pins").disabled=true;
                    document.getElementById("Fasteners").disabled=true;
                }
            });
            
            function CreateInputFields() {
                
                let menu='<div class="grid-item"><h2>Connectors Locking with Pins</h2>'      
                $.each(objList, function(index1, obj) {
                    menu=menu+'<label for="' + obj + '">' +obj+ ':</label><select class="js-example-basic-single" name="' + obj +'" id="' + obj +'" style="width: 250px;"><option value="">-- Select a ' + obj + ' --</option>'
                    $.each(obj_dict[obj], function(index2, serial) {
                        menu=menu+'<option value="' + serial + '">' + serial + '</option>';
                    });
                    menu=menu+'</select><br><br>'
                });
                menu=menu+'<p><input type="checkbox" class="trigger-change" id="leftROH" name="leftROH" checked /><label style="padding-right: 5px;" for="leftROH">ROH Left</label>'
                menu=menu+'<input type="checkbox" class="trigger-change" id="rightROH" name="rightROH" checked /><label style="padding-right: 5px;" for="rightROH">ROH Right</label><br>'
                menu=menu+'<input type="checkbox" class="trigger-change" id="leftPOH" name="leftPOH" checked /><label style="padding-right: 5px;" for="leftPOH">POH Left</label>'
                menu=menu+'<input type="checkbox" class="trigger-change" id="rightPOH" name="rightPOH" checked /><label style="padding-right: 5px;" for="rightPOH">POH Right</label></p><br>'
                menu=menu+'<p><label for="Pins">Pins:</label><select name="Pins" id="Pins"><option value="">-- Select Batch --</option>'
                $.each(pinsBatchList, function(jj, batch) {
                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                });
                menu=menu+'</select><input style="width: 40px;margin-left: 1em" size=4 id="nPins" type="text" value="" disabled></p><br>'
                menu=menu+'<p><label for="Fasteners">Fasteners:</label><select name="Fasteners" id="Fasteners"><option value="">-- Select Batch --</option>'
                $.each(fastBatchList, function(jj, batch) {
                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                });
                menu=menu+'</select><input style="width: 40px;margin-left: 1em" size=4 id="nFasteners" type="text" value="" disabled></p><br><br>'
                menu=menu+'<p><button id="load" onclick="lockConnectors()">Lock Connectors</button>'
                console.log(menu)
                $('#grid').append(menu)
                $('#grid').append('<div class="grid-item"><img src="/static/ConnectorLocking.png" alt="Image 1" height="250" class="center-image"></div>')
                $('.js-example-basic-single').select2();
            };

            CreateInputFields();
        });
    </script>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
    <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Attach Cables</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  
  <br><br><br>
  <div class="grid-container" id="grid">
  
    <!-- Repeat similar structure for other sections -->
  </div>

</body>
</html>
