<!DOCTYPE html>
<html>
<head>
    <title>Attach Cables</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      let obj_dict={}
      objList=new Array()
      {% for type in obj_dict: %}
            objList[{{ loop.index0 }}]="{{ type }}"
            l=new Array()      
            {% for name in obj_dict[type]: %}
                l[{{ loop.index0 }}]="{{ name }}"
            {% endfor %}
            obj_dict["{{ type }}"]=l
      {% endfor %}
      console.log(objList)
      console.log(obj_dict)
      let mpName="{{ mp_name }}"
      console.log("-->" + mpName)
      {% if mp_name %}
          mpBatchList=new Array()
          let mpNList={}
          {% for row in mp_list: %}
             mpBatchList[{{ loop.index0 }}]="{{ row[0] }}"
             if(mpName=="Spacers"){
                mpNList["{{ row[0] }}"]={{ row[2] }}
             }
             else if(mpName=="PowerTails"){
                mpNList["{{ row[0] }}"]={{ row[1] }}-{{ row[2] }}-{{ row[3] }}
             }
          {% endfor %}
        console.log(mpBatchList)
        console.log(mpNList)
      {% endif %}
      function attachCables() {
        let data={}
        data["Type"]="Cables"
        $.each(objList, function(index, obj) {
            data[obj]=document.getElementById(obj).value 
        });
        if (mpName){
            if(mpName=="Inserts"){
                data["Round"+mpName+"Batch"]=document.getElementById("Round"+mpName).value
                data["Elongated"+mpName+"Batch"]=document.getElementById("Elongated"+mpName).value
            }
            else{
                data[mpName+"Batch"]=document.getElementById(mpName).value
            }
        }
        console.log(data)
        $.post('/attachCables', data,function(response){ location.reload(); });
      }

      $(document).ready(function() {
            $('.js-example-basic-single').select2();
            if (mpName){
                $('#grid').on('change','[id^='+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });
                $('#grid').on('change','[id^=Round'+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });
                $('#grid').on('change','[id^=Elongated'+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });

            }
            
            function CreateInputFields() {
                    let menu='<div class="grid-item"><h2>Associate VTRX+ and Power Tail to Module</h2>'  
	                $.each(objList, function(index1, obj) {
                        menu=menu+'<label for="' + obj + '">' +obj+ ':</label><select class="js-example-basic-single" name="' + obj +'" id="' + obj +'" style="width: 250px;"><option value="">-- Select a ' + obj + ' --</option>'
   	                    $.each(obj_dict[obj], function(index2, serial) {
                            menu=menu+'<option value="' + serial + '">' + serial + '</option>';
                        });
                        menu=menu+'</select><br><br>'
	                });
                    if (mpName) {
                        if (mpName=="Inserts"){
                            menu=menu+'<p><label for="Round' + mpName + '">Round ' +mpName+ ':</label><select name="Round' + mpName +'" id="Round' + mpName +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                if(batch.includes("Round")){
                                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                                }
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="nRound' + mpName + '" type="text" value="" disabled></p><br>'
                            menu=menu+'<p><label for="Elongated' + mpName + '">Elongated ' +mpName+ ':</label><select name="Elongated' + mpName +'" id="Elongated' + mpName +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                if(batch.includes("Elongated")){
                                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                                }
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="nElongated' + mpName + '" type="text" value="" disabled></p><br><br>'
                        }
                        else{
                            menu=menu+'<p><label for="' + mpName + '">' +mpName+ ':</label><select name="' + mpName +'" id="' + mpName +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="n' + mpName + '" type="text" value="" disabled></p><br><br>'
                        }
                    }
	                menu=menu+'<p><button id="load" onclick="attachCables()">Attach Cables</button>'
                    console.log(menu)
                    $('#grid').append(menu)
                    $('#grid').append('<div class="grid-item"><img src="/static/Cables.png" alt="Image 1" height="250" class="center-image"></div>')
                $('.js-example-basic-single').select2();
            };

            CreateInputFields();
        });
    </script>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
    <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Attach Cables</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  
  <br><br><br>
  <div class="grid-container" id="grid">
  
    <!-- Repeat similar structure for other sections -->
  </div>

</body>
</html>
