<!DOCTYPE html>
<html>
<head>
    <title>Insert Elements on DB</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to fetch column names for the selected table
            function fetchColumnNames(selectedTable) {
                $.ajax({
                    url: '/columns/' + selectedTable,
                    type: 'GET',
                    success: function(response) {
                        // Clear existing input fields
                        $('#column-inputs').empty();
                        // Add input fields for each column
                        $.each(response, function(index, value) {
                            $('#column-inputs').append('<label for="' + value.at(0) + '">' + value.at(0) + ':</label>');
	                    console.log("Field: "+value.at(0)+" Type: "+value.at(1));
	                    if (value.at(1)==="tinyint(1)") {
                        $('#column-inputs').append('<input type="checkbox" name="' + value.at(0) + '" id="' + value.at(0) + '" value="1"><br><br>');
                      } else if (value.at(1)==="int") {
                        $('#column-inputs').append('<input type="text" name="' + value.at(0) + '" id="' + value.at(0) + '" value="0"><br><br>');
                      } else {
                        $('#column-inputs').append('<input type="text" name="' + value.at(0) + '" id="' + value.at(0) + '"><br><br>');
	                    }
                    });
                    const myimg=document.getElementById("image");
	                if (myimg!=null) {
	                    myimg.src="/static/" + selectedTable + ".png";
	                    myimg.alt="img_" + selectedTable;
	                } else {
                   	    $('#eleImg').append('<img src="/static/' + selectedTable + '.png" id="image" alt="img_' + selectedTable + '">')
	                }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            // Trigger the AJAX request to fetch column names when the page is loaded
            var selectedTable = $('#table').val();
            fetchColumnNames(selectedTable);

            // Change event handler for the table selection dropdown
            $('#table').change(function() {
                var selectedTable = $(this).val();
                fetchColumnNames(selectedTable);
            });
        });
    </script>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Insert Data into Database</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>
  <div class="form-container">
    <form method="post">
      <br><br>
      <label for="table">Select a table:</label>
      <select name="table" id="table">
	{% for table in tables %}
	<option value="{{ table }}">{{ table }}</option>
	{% endfor %}
      </select>
      <br><br>
      <div id="column-inputs">
	<!-- Column input fields will be populated dynamically -->
      </div>
      <button type="submit">Insert</button>
    </form>
    <div id="eleImg">
      <br><br>
    </div>
  </div>
</body>
</html>
