<!DOCTYPE html>
<html>
<head>
    <title>Manage {{ jig }} jigs</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      let jig="{{ jig }}"
      jigList=new Array()
      {% for i in range(jig_list|length): %}
          jigList[{{i}}]="{{ jig_list[i] }}"
      {% endfor %}
      let obj_dict={}
      objList=new Array()
      {% for type in obj_dict: %}
            objList[{{ loop.index0 }}]="{{ type }}"
            l=new Array()      
            {% for name in obj_dict[type]: %}
                l[{{ loop.index0 }}]="{{ name }}"
            {% endfor %}
            obj_dict["{{ type }}"]=l
      {% endfor %}
      console.log(jig)
      console.log(jigList)
      console.log(objList)
      console.log(obj_dict)
      let mpName="{{ mp_name }}"
      console.log("-->" + mpName)
      {% if mp_name %}
          mpBatchList=new Array()
          let mpNList={}
          {% for row in mp_list: %}
             mpBatchList[{{ loop.index0 }}]="{{ row[0] }}"
             if(mpName=="Spacers"){
                mpNList["{{ row[0] }}"]={{ row[2] }}
             }
             else{
                mpNList["{{ row[0] }}"]={{ row[1] }}-{{ row[2] }}-{{ row[3] }}-{{ row[4] }}-{{ row[5] }}
             }
          {% endfor %}
        console.log(mpBatchList)
        console.log(mpNList)
      {% endif %}
      function loadData(section) {
        let data={}
        data["Type"]="Load"
        data["Serial"]=jigList[section]
        $.each(objList, function(index, obj) {
            data[obj]=document.getElementById(obj+section).value 
        });
        if (jig.includes("baremodule")){
            data["Spacing"]=parseFloat(document.getElementById("Spacing"+section).value)/10
        }
        if (jig.includes("metrology")){
            document.getElementById("shift_x"+section).removeAttribute("disabled")
            document.getElementById("shift_y"+section).removeAttribute("disabled")
            document.getElementById("rotation"+section).removeAttribute("disabled")
        }
        if (mpName){
            if(mpName=="Inserts"){
                data["Round"+mpName+"Batch"]=document.getElementById("Round"+mpName+section).value
                data["Elongated"+mpName+"Batch"]=document.getElementById("Elongated"+mpName+section).value
            }
            else{
                data[mpName+"Batch"]=document.getElementById(mpName+section).value
            }
        }
        console.log(data)
        if (jig.includes("baremodule") && obj_dict["PS_Module"].includes(data["PS_Module"]) ){
            alert("Module Name \'"+data['PS_Module']+"\' already exists, please recheck the selection!!");
        }else{
            $.post('/manage/{{ jig }}', data,function(response){ location.reload(); });
        }
      }

      function sendData(section) {
        let data={}
        data["Type"]="Complete"
        data["Serial"]=jigList[section]
        $.each(objList, function(index, obj) {
            data[obj]=document.getElementById(obj+section).value
        });
        if (jig.includes("metrology")){
            data["shiftx"]=document.getElementById("shift_x"+section).value
            data["shifty"]=document.getElementById("shift_y"+section).value
            data["rotation"]=document.getElementById("rotation"+section).value
        }
        if (mpName){
            if(mpName=="Inserts"){
                data["Round"+mpName+"Batch"]=document.getElementById("Round"+mpName+section).value
                data["Elongated"+mpName+"Batch"]=document.getElementById("Elongated"+mpName+section).value
            }
            else{
                data[mpName+"Batch"]=document.getElementById(mpName+section).value
            }
        }
        console.log(data)
        $.post('/manage/{{ jig }}', data,function(response){ location.reload(); });
      }

      $(document).ready(function() {
            $('.js-example-basic-single').select2();
            if (mpName){
                $('#grid').on('change','[id^='+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });
                $('#grid').on('change','[id^=Round'+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });
                $('#grid').on('change','[id^=Elongated'+mpName+']',function(event){
                    document.getElementById('n'+event.target.id).value=mpNList[event.target.value]
                    if (mpNList[event.target.value]==0){
                        document.getElementById("load"+event.target.id.slice(-1)).disabled=true;
                    }
                });

            }
            $('#grid').on('change','[id^=Spacing]',function(event) {
                console.log(event.target.id)
                $.ajax({
                    url: '/PS_Module',
                    type: 'GET',
                    success: function(response) {
                        var lastMod = response.at(response.length - 1);
                        console.log('Last Module:', lastMod);
                        var newId = parseInt(lastMod.slice(-4), 10)+1;
                        if($('#'+event.target.id).val()!=0){
                            $('#PS_Module'+event.target.id.slice(-1)).val("PS_"+$('#'+event.target.id).val()+"_IPG-1"+newId.toString().padStart(4,'0'));
                        }
                        else {
                            $('#PS_Module'+event.target.id.slice(-1)).val("");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
            function initializeValues(){
                $.each(jigList, function(index, jig_serial) {
                    $.ajax({
                        url: '/Jig_' + jig + '/' + jig_serial,
                        type: 'GET',
                        success: function(response) {
                            console.log(response)
                            var loaded=false
                            if (response.at(1)){
                                loaded=true
                            }
                            console.log(objList)
                            $.each(response, function(index1, value) {
                                console.log(index1 + " " + value)
                                if (index1 != 0 && value && index1<(objList.length+1)) {
                                    let elem =  document.getElementById(objList[index1-1]+index);
                                    console.log("1)" + elem.name + " " + elem.value)
                                    $(elem).val(value).trigger('change');
                                    console.log("2)" + elem.name + " " + elem.value)
                                    if(jig.includes("baremodule") && elem.name.includes("PS_Module")){
                                        if(elem.value.includes("_16_")){
                                            $('#Spacing'+index).val('16')
                                        }
                                        else if(elem.value.includes("_26_")){
                                            $('#Spacing'+index).val('26')
                                        }
                                        else if(elem.value.includes("_40_")){
                                            $('#Spacing'+index).val('40')
                                        }
                                    }
                                }
                            });
                            if (mpName){
                                console.log("MP menu")
                                if(mpName=="Inserts"){
                                    let elem =  document.getElementById("Round"+mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=response.at(2)
                                    console.log(elem.name + " " + elem.value)
                                    elem =  document.getElementById("nRound"+mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=mpNList[response.at(2)]
                                    console.log(elem.name + " " + elem.value)
                                    elem =  document.getElementById("Elongated"+mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=response.at(3)
                                    console.log(elem.name + " " + elem.value)
                                    elem =  document.getElementById("nElongated"+mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=mpNList[response.at(3)]
                                    console.log(elem.name + " " + elem.value)
                                }
                                else{
                                    let elem =  document.getElementById(mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=response.at(-1)
                                    console.log(elem.name + " " + elem.value)
                                    elem =  document.getElementById("n"+mpName+index);
                                    console.log(elem.name + " " + elem.value)
                                    elem.value=mpNList[response.at(-1)]
                                    if (elem.value==0){
                                        document.getElementById("load"+index).disabled=true;
                                    }
                                    console.log(elem.name + " " + elem.value)
                                }
                            }
                            if (loaded) {
                                document.getElementById("load"+index).disabled=true
                                //if(jig.includes("baremodule")){document.getElementById("new_module"+index).disabled=true}
                                if(jig.includes("metrology")){
                                    console.log("Enabling")
                                    document.getElementById("shift_x"+index).removeAttribute("disabled")
                                    document.getElementById("shift_y"+index).removeAttribute("disabled")
                                    document.getElementById("rotation"+index).removeAttribute("disabled")
                                }
                                document.getElementById("complete"+index).disabled=false
                            }
                            else {
                                document.getElementById("load"+index).disabled=false
                                document.getElementById("complete"+index).disabled=true
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });                  

                });
      
            };
            function CreateInputFields() {
                $.each(jigList, function(index, jig_serial) {
                    let menu='<div class="grid-item"><h2>Fixture ' + jig_serial  + '</h2>'  
	                $.each(objList, function(index1, obj) {
                        if (!(jig.includes("baremodule") && obj=="PS_Module")){
                            menu=menu+'<label for="' + obj + '">' +obj+ ':</label><select class="js-example-basic-single" name="' + obj + index +'" id="' + obj + index +'" style="width: 250px;"><option value="">-- Select a ' + obj + ' --</option>'
                        
                            //menu=menu+'<label for="' + obj + '">' +obj+ ':</label><input list="' + obj + index +'-list" name="' + obj + index +'" id="' + obj + index +'"/><datalist id="' + obj + index +'-list">' //<option value="">-- Select a ' + obj + ' --</option>'
                            $.each(obj_dict[obj], function(index2, serial) {
                                menu=menu+'<option value="' + serial + '">' + serial + '</option>';
                            });
                        }
                        if (jig.includes("baremodule") && obj=="PS_Module"){
                            menu=menu+'<label for="Spacing'+index+'">Spacing:</label><select name="Spacing'+index+'" id="Spacing'+index+'"" style="text-align: center;text-align-last: center;">'
                            menu=menu+'<option value="0">-- Select a Spacing --</option>'
                            menu=menu+'<option value="16">1.6mm</option>'
                            menu=menu+'<option value="26">2.6mm</option>'
                            menu=menu+'<option value="40">4.0mm</option></select><br><br>'
                            menu=menu+'<label for="'+obj+index+'">Module Name:</label><input type="text" name="'+obj+index+'" id="'+obj+index+'" style="width: 180px;" disabled><br><br>'
                        } else if (jig.includes("metrology")){
                            menu=menu+'</select><br><br><label for="shift_x">Shift X (µm):</label><input type="text" name="shift_x'+index+'" id="shift_x'+index+'" size=8 disabled>  <label for="shift_y">Shift Y (µm):</label><input type="text" name="shift_y'+index+'" id="shift_y'+index+'" size=8 disabled><br><br><label for="rotation">Rotation (µrad):</label><input type="text" name="rotation'+index+'" id="rotation'+index+'" size=8 disabled><br><br>'
                        } else {
                            menu=menu+'</select><br><br>'
                            //menu=menu+'</datalist><br><br>'
                        }
	                });
                    if (mpName) {
                        if (mpName=="Inserts"){
                            menu=menu+'<p><label for="Round' + mpName + '">Round ' +mpName+ ':</label><select name="Round' + mpName + index +'" id="Round' + mpName + index +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                if(batch.includes("Round")){
                                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                                }
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="nRound' + mpName + index + '" type="text" value="" disabled></p><br>'
                            menu=menu+'<p><label for="Elongated' + mpName + '">Elongated ' +mpName+ ':</label><select name="Elongated' + mpName + index +'" id="Elongated' + mpName + index +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                if(batch.includes("Elongated")){
                                    menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                                }
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="nElongated' + mpName + index + '" type="text" value="" disabled></p><br><br>'
                        }
                        else{
                            menu=menu+'<p><label for="' + mpName + '">' +mpName+ ':</label><select name="' + mpName + index +'" id="' + mpName + index +'"><option value="">-- Select Batch --</option>'
                            $.each(mpBatchList, function(jj, batch) {
                                menu=menu+'<option value="' + batch + '">' + batch + '</option>';
                            });
                            menu=menu+'</select><input style="margin-left: 1em" size=4 id="n' + mpName + index + '" type="text" value="" disabled></p><br><br>'
                        }
                    }
	                menu=menu+'<p><button id="load'+index+'" onclick="loadData(\''+ index +'\')">Load</button><button style="margin-left: 4em" id="complete'+index+'" onclick="sendData(\''+index+'\')">Complete</button></p></div>'
                    console.log(menu)
                    $('#grid').append(menu)
                });
                $('.js-example-basic-single').select2();
            };

            CreateInputFields();
            initializeValues();
        });
    </script>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
    <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Manage {{ jig }} jigs</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  
  <br><br><br>
  <img src="/static/Jig_{{ jig }}.png" alt="Image 1" height="250" class="center-image">
  <br>
  <div class="grid-container" id="grid">
  
    <!-- Repeat similar structure for other sections -->
  </div>

</body>
</html>
