<!DOCTYPE html>
<html>
<head>
    <title>Manage Assembly Menu</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadData(section) {
            var loadInput = document.getElementById('loadInput' + section.slice(-1)).value;
            // Call Flask endpoint to load data for the specified section using loadInput
        }

        function clearData(section) {
            var clearInput = document.getElementById('clearInput' + section.slice(-1)).value;
            // Call Flask endpoint to clear data for the specified section using clearInput
        }

        function moveData(section) {
            var moveInput = document.getElementById('moveInput' + section.slice(-1)).value;
            // Call Flask endpoint to move data for the specified section using moveInput
        }
    </script>
</head>
<body>
  <div class="topbar-container">
    <div class="topbar-content">
        <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
    </div>
 </div>
 <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Manage Assembly</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  
  <br><br><br>
  <div class="grid-container">
  
    <div class="grid-item">
      <a href="/manage/BPinserts">
	      <p><h2>Baseplate Inserts</h2></p>
	      <img src="/static/Jig_BPinserts.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/BPisolator">
	      <p><h2>Baseplate Isolator</h2></p>
	      <img src="/static/Jig_BPisolator.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSShvtail">
	      <p><h2>PS Strip HV tail gluing</h2></p>
	      <img src="/static/Jig_PSShvtail.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/HVbonding">
	      <p><h2>PS Strip HV tail bonding/encaps</h2></p>
	      <img src="/static/Jig_HVbonding.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSsandwich">
	      <p><h2>PS Sandwich</h2></p>
	      <img src="/static/Jig_PSsandwich.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSbaremodule">
	      <p><h2>PS Bare Module</h2></p>
	      <img src="/static/Jig_PSbaremodule.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSmetrology">
	      <p><h2>PS Metrology</h2></p>
	      <img src="/static/Jig_PSmetrology.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PShybrid">
	      <p><h2>PS Hybrids</h2></p>
	      <img src="/static/Jig_PShybrid.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSbonding">
	      <p><h2>PS Module Bonding</h2></p>
	      <img src="/static/Jig_PSbonding.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/attachCables">
	      <p><h2>VTRX+/Power Tails</h2></p>
	      <img src="/static/Cables.png" alt="Image 1" height="250">
      </a>
    </div>

    <div class="grid-item">
      <a href="/manage/PSencapsulation">
	      <p><h2>PS Module Encapsulation</h2></p>
	      <img src="/static/Jig_PSencapsulation.png" alt="Image 1" height="250">
      </a>
    </div>
    <div class="grid-item">
      <a href="/attachPins">
        <p><h2>Connettor Locking with pins</h2></p>
        <img src="/static/ConnectorLocking.png" alt="Image 1" height="250">
      </a>
    </div>
  </div>
</body>
</html>
