<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function checkPWD() {
        if($('#new_pwd').val()!="" || $('#confirm_pwd').val()!=""){
          if ($('#new_pwd').val()===$('#confirm_pwd').val()){
            $('#pwd_msg').hide();
            if ($('#current_pwd').val()!="") {
              $('#pwd_button').removeAttr("disabled")
            } else {
              $('#pwd_button').attr("disabled","disabled")
            }
          } else {
            $('#pwd_msg').show();
            $('#pwd_button').attr("disabled","disabled")
          }
        } else {
          $('#pwd_msg').hide();
          $('#pwd_button').attr("disabled","disabled")
        }

      };
      $(document).ready(function() {
          $('#current_pwd').on("keyup",function(){checkPWD();});
          $('#new_pwd').on("keyup",function(){checkPWD();});
          $('#confirm_pwd').on("keyup",function(){checkPWD();});
      });
    </script>

</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Account Information</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  
  <br><br><br>
  <form method="post">
    <div class="account-container">
        <label for="username">User Name:</label>        
        <input type="text" name="username" id="username" value="{{ user }}" readonly>
        <label for="email">User E-Mail:</label>
        <input type="text" name="email" id="email" value="{{ mail }}" readonly>
    </div>
    <br><br>
    <div class="account-container">
        <div class="account-button-container">
            <button type="submit" id="pwd_button" disabled>Change Password</button>
        </div>
    </div>
    <br>
    <div class="account-container">
        <label for="current_pwd">Current Password:</label>
        <input type="password" name="current_pwd" id="current_pwd" value="">
        <label for="new_pwd">New Password:</label>
        <input type="password"  name="new_pwd" id="new_pwd" value="">
        <label for="confirm_pwd">Confirm Password:</label>
        <input type="password" name="confirm_pwd" id="confirm_pwd" value="">
        <label></label><label id="pwd_msg" style="color:red; display: none;">the two password are not equal</lable>
    </div>
    {% if msg %}
    <div class="account-container">
      <div class="account-button-container">
          <p>{{ msg }}</p>
      </div>
    </div>
    {% endif %}
  </form>
</body>
</html>
