<!DOCTYPE html>
<html>
<head>
    <title>Update {{ table_name }}</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        /* Simple styles for the popup */
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function showErrorPopup(message) {
          alert(message);  // Display a simple alert popup
      }
      var initialName = "";
      {% if initial_name %}
      var initialName = "{{ initial_name }}";
      {% endif %}
      let table="{{ table_name }}"
      colName=new Array()
      colType=new Array()
      let dummy="{{ columns_name }}"
      console.log(dummy)
      {% for i in range(columns_name|length): %}
          colName[{{i}}]="{{ columns_name[i] }}"
          colType[{{i}}]="{{ columns_type[i] }}"
      {% endfor %}
      console.log(table)
      console.log(colName)
      console.log(colName.length)
      console.log(colType)
      console.log(colType.length)
      $(document).ready(function() {
           $('#delete').change(function() {
               if ($(this).is(':checked')) {
                    $('#submit_button').text('Delete ' + table);
                } else {
                    $('#submit_button').text('Update '+ table);
                }
            });
           // Function to fetch column names for the selected table
           function CreateInputFields() {
                $.ajax({
                    url: '/' + table,
                    type: 'GET',
                    success: function(response) {
                        $.each(colName, function(index, value) {
	                    console.log("Field: "+value+" Type: "+colType[index]);
                            if (value==="Batch") {
                                let dropmenu=''
                                $.each(response, function(index, value) {
	                            dropmenu=dropmenu+'<option value="' + value + '">' + value + '</option>';
                                });
                                console.log(dropmenu)
                                $('#Batch').append(dropmenu);
                           } else if (colType[index]==="tinyint(1)") {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
	                            $('#column-inputs').append('<select name="' + value + '" id="' + value + '"><option value="0">0</option><option value="1">1</option></select><br><br>');
                            } else if (colType[index]==="text" && (value==="History" || value=="Comments")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<textarea style="font-size: 10px; color: #7d7d7d;" name="' + value + '" id="' + value + '" rows=5 cols=60></textarea><br><br>');
                            } else if (value.includes("Tested")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '">')
                                $('#column-inputs').append('<button type="button" id="addTested" style="margin-left: 5px;">Increment</button><br><br>')
                            } else if (value.includes("BadAtQC")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '">')
                                $('#column-inputs').append('<button type="button" id="addBad" style="margin-left: 5px;">Increment</button><br><br>');
                            } else if (value.includes("Used")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '">')
                                $('#column-inputs').append('<button type="button" id="addUsed" style="margin-left: 5px;">Increment</button><br><br>')
                            } else if (value.includes("Broken")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '">')
                                $('#column-inputs').append('<button type="button" id="addBroken" style="margin-left: 5px;">Increment</button><br><br>');
                            } else {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '"><br><br>');
                            }
                        });
                        $('#eleImg').append('<img src="/static/' + table + '.png" alt="img_' + table + '">')
                        if (initialName) {
                            $("#Batch").val(initialName).trigger("change");
                            console.log(initialName)
                        }
                    },
                        error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
           }
           CreateInputFields();
           // Function to initialize text input with value from database when dropdown selection changes
            $('#Batch').change(function() {
                var selectedName = $(this).val();
                if (selectedName) {
                    $.ajax({
                        url: '/' + table + '/' + selectedName,
                        type: 'GET',
                        success: function(response) {
                            // Populate the text input field with the fetched value
                            $('#new_batch').val(selectedName);
                            $.each(colName, function(index, value) {
                                if (index != 0) {
                                    if (value.includes("Data")) {
                                        const elem1 =  document.getElementById(value+"_txt");
                                        elem1.value=response.at(index);
                                        console.log(value+"_txt: "+response.at(index))
                                        const elem2 =  document.getElementById(value);
                                        elem2.href="/static/data/"+selectedName+"/"+response.at(index);
                                        console.log(value+": /static/data/"+selectedName+"/"+response.at(index))
                                    }
                                    else{
                                        const elem =  document.getElementById(value);
                                        elem.value=response.at(index);
                                        console.log(value+": "+response.at(index))
                                    }
                                }
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    // If no module is selected, clear the text input field
                    $('#new_batch').val('');
                    $.each(colName, function(index, value) {
                        if (index != 0) { 
                            const elem =  document.getElementById(value);
                            elem.value='';
                        }
                    });
                }
            });

    
            // Delegate event to document or a specific parent element
            $(document).on('click', '#addBad', function(event) {
                event.preventDefault(); // Prevent default action
                console.log("Increment Bad components");
                //const Q =  document.getElementById('Quantity');
                //Q.value=parseInt(Q.value)-1;
                const Bad =  document.getElementById('BadAtQC');
                Bad.value=parseInt(Bad.value)+1;
            });

            $(document).on('click', '#addTested', function(event) {
                event.preventDefault(); // Prevent default action
                console.log("Increment Bad components");
                //const Q =  document.getElementById('Quantity');
                //Q.value=parseInt(Q.value)-1;
                const Bad =  document.getElementById('Tested');
                Bad.value=parseInt(Bad.value)+1;
            });

            $(document).on('click', '#addBroken', function(event) {
		        event.preventDefault(); // Prevent default action
                console.log("Increment Broken Components");
                //const Q =  document.getElementById('Quantity');
                //Q.value=parseInt(Q.value)-1;
                const Broken =  document.getElementById('Broken');
                Broken.value=parseInt(Broken.value)+1;                
            });

            $(document).on('click', '#addUsed', function(event) {
                event.preventDefault(); // Prevent default action
                console.log("Increment Bad components");
                if(table=="Spacers"){
                    const Q =  document.getElementById('Tested');
                    Q.value=parseInt(Q.value)-1;
                }
                const Bad =  document.getElementById('Used');
                Bad.value=parseInt(Bad.value)+1;
            });
      });
      // Check if there's an error message passed from Flask and display the popup
      {% if error_message %}
      showErrorPopup("{{ error_message }}");
      {% endif %}
    </script>
</head>
<body>




</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Update {{ table_name }}</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>
  <div class="form-container">
    <form method="post">
      <br><br>
      <div id="column-inputs">
	<label for="Batch">Batch:</label>
	<select name="Batch" id="Batch">
	  <option value="">-- Select a {{ table_name }} --</option>
	  <!-- Add options dynamically using JavaScript -->
	</select>
	<input type="text" name="new_batch" id="new_batch">
	<br><br>
	
	<!-- Column input fields will be populated dynamically -->
      </div>
      <label for="delete">Delete?</label>
      <input type="checkbox" name="delete" id="delete">
      <br><br>
      <button type="submit" id="submit_button">Update {{ table_name }}</button>
    </form>    
    <div id="eleImg">
      <br><br>
    </div>
  </div>
</body>
</html>
