<!DOCTYPE html>
<html>
<head>
    <title>Update Menu</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Select the type of element to update</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> |  <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  

  <br><br><br>
  <div class="grid-container">
        <!-- First row -->
        <!-- First clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_Baseplate">
                <img src="/static/PS_Baseplate.png" alt="Image 1" height="250">
                <p>Baseplate</p>
            </a>
        </div>
        <!-- Second clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_FEH">
                <img src="/static/PS_FEH.png" alt="Image 2" height="250">
                <p>PS FEH</p>
            </a>
        </div>
        <!-- Third clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_MAPSA">
                <img src="/static/PS_MAPSA.png" alt="Image 3" height="250">
                <p>PS MAPSA</p>
            </a>
        </div>
	<!-- Second row -->
        <!-- First clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_POH">
		<img src="/static/PS_POH_large.png" alt="Image 1" height="250">
                <p>PS POH</p>
            </a>
        </div>
        <!-- Second clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_ROH">
                <img src="/static/PS_ROH_large.png" alt="Image 2" height="250">
                <p>PS ROH</p>
            </a>
        </div>
        <!-- Third clickable image with text -->
        <div class="grid-item">
            <a href="/update/PS_Strip">
                <img src="/static/PS_Strip.png" alt="Image 3" height="250">
                <p>PS Strip</p>
            </a>
        </div>

	    <div class="grid-item"><!-- style="grid-column: 2 / 3; grid-row: 3;">-->
            <!-- Your single element here -->
            <a href="/module">
                <img src="/static/PS_Module_Fully_Exploded.png" alt="Image 7" height="250">
                <p>PS Module</p>
            </a>
        </div>
    
        <div class="grid-item"><!-- style="grid-column: 2 / 3; grid-row: 3;">-->
            <!-- Your single element here -->
            <a href="/update/VTRX">
                <img src="/static/VTRX.png" alt="Image 4" height="250">
                <p>VTRX+</p>
            </a>
        </div>

        <div class="grid-item"><!-- style="grid-column: 2 / 3; grid-row: 3;">-->
            <!-- Your single element here -->
            <a href="/updateJigs">
                <img src="/static/JigsMenu.png" alt="Image 7" height="250">
                <p>Assembly Jigs</p>
            </a>
        </div>        
        <div class="grid-item"><!-- style="grid-column: 2 / 3; grid-row: 3;">-->
            <!-- Your single element here -->
            <a href="/updateParts">
                <img src="/static/PartsMenu.png" alt="Image 7" height="250">
            <p>Mechanical Parts</p>
            </a>
        </div>        
    </div>
</body>
</html>
