<!DOCTYPE html>
<html>
<head>
    <title>Update Menu</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Select the type of element to update</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  

  <br><br><br>
  <div class="grid-container">
  
    <div class="grid-item">
      <a href="/update/Jig_BPinserts">
	    <img src="/static/Jig_BPinserts.png" alt="Image 1" height="250">
        <p>Inserts gluing on Baseplate</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_BPisolator">
    	<img src="/static/Jig_BPisolator.png" alt="Image 1" height="250">
        <p>Isolator gluing on Baseplate</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSShvtail">
    	<img src="/static/Jig_PSShvtail.png" alt="Image 1" height="250">
        <p>HV tail gluing on PS-Strip</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_HVbonding">
    	<img src="/static/Jig_HVbonding.png" alt="Image 1" height="250">
        <p>HV tail bonding and encapsulation</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSsandwich">
    	<img src="/static/Jig_PSsandwich.png" alt="Image 1" height="250">
        <p>Sensor sandwich jig</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSbaremodule">
    	<img src="/static/Jig_PSbaremodule.png" alt="Image 1" height="250">
        <p>Bare module jigs</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSmetrology">
    	<img src="/static/Jig_PSmetrology.png" alt="Image 1" height="250">
        <p>Metrology Jig</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PShybrid">
    	<img src="/static/Jig_PShybrid.png" alt="Image 1" height="250">
        <p>Hybrids gluing on Bare Module</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSbonding">
    	<img src="/static/Jig_PSbonding.png" alt="Image 1" height="250">
        <p>PS Module bonding</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Jig_PSencapsulation">
    	<img src="/static/Jig_PSencapsulation.png" alt="Image 1" height="250">
        <p>PS Module encapsulation</p>
      </a>
    </div>
    <!-- Repeat similar structure for other sections -->
  </div>
</body>
</html>
