<!DOCTYPE html>
<html>
<head>
    <title>Update Menu</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Select the type of element to update</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>  

  <br><br><br>
  <div class="grid-container">
  
    <div class="grid-item">
      <a href="/update/Inserts">
	    <img src="/static/Inserts.png" alt="Image 1" height="250">
        <p>Inserts</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Isolators">
    	<img src="/static/Isolators.png" alt="Image 1" height="250">
        <p>Isolators</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/HVtails">
    	<img src="/static/HVtails.png" alt="Image 1" height="250">
        <p>HV tails</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Spacers">
    	<img src="/static/Spacers.png" alt="Image 1" height="250">
        <p>Spacers</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/PowerTails">
    	<img src="/static/PowerTails.png" alt="Image 1" height="250">
        <p>PowerTails</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/LightShields">
    	<img src="/static/LightShields.png" alt="Image 1" height="250">
        <p>Light Shields</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Pins">
    	<img src="/static/Pins.png" alt="Image 1" height="250">
        <p>Pins</p>
      </a>
    </div>

    <div class="grid-item">
      <a href="/update/Fasteners">
    	<img src="/static/Fasteners.png" alt="Image 1" height="250">
        <p>Fasteners</p>
      </a>
    </div>

    <!-- Repeat similar structure for other sections -->
  </div>
</body>
</html>
