<!DOCTYPE html>
<html>
<head>
    <title>Update {{ table_name }}</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        /* Simple styles for the popup */
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      function showErrorPopup(message) {
          alert(message);  // Display a simple alert popup
      }
      var initialName = "";
      {% if initial_name %}
      var initialName = "{{ initial_name }}";
      {% endif %}
      let table="{{ table_name }}"
      colName=new Array()
      colType=new Array()
      let dummy="{{ columns_name }}"
      console.log(dummy)
      {% for i in range(columns_name|length): %}
          colName[{{i}}]="{{ columns_name[i] }}"
          colType[{{i}}]="{{ columns_type[i] }}"
      {% endfor %}
      let jig_dict={}
      {% for type in jig_dict: %}
            console.log("{{ type }}")
            l=new Array()
            {% for name in jig_dict[type]: %}
                l[{{ loop.index0 }}]="{{ name }}"
            {% endfor %}
            jig_dict["{{ type }}"]=l
      {% endfor %}
      console.log(table)
      console.log(colName)
      console.log(colName.length)
      console.log(colType)
      console.log(colType.length)
      $(document).ready(function() {
        $('.js-example-basic-single').select2();
            $('#delete').change(function() {
               if ($(this).is(':checked')) {
                    $('#submit_button').text('Delete ' + table);
                } else {
                    $('#submit_button').text('Update '+ table);
                }
            });
            $('#form').on('change','[class=QCstatus]',function(event) {
                console.log(event.target.id)
                var theotherID=event.target.id=="GoodQC" ? "BadQC" : "GoodQC"
                if ($('#'+event.target.id).is(':checked')) {
                    $('#'+theotherID).prop('checked', false);
                    $('#QC').prop('disabled', false);
                    $('#QC').prop('checked', true);
                } else {
                    if($('#'+theotherID).is(':checked')){
                        $('#QC').prop('disabled', false);
                        $('#QC').prop('checked', true) ;
                    } else {
                        $('#QC').prop('checked', false);
                        $('#QC').prop('disabled', true);
                    }
                }
            });
           // Function to fetch column names for the selected table
           function CreateInputFields() {
                $.ajax({
                    url: '/' + table,
                    type: 'GET',
                    success: function(response) {
                        $.each(colName, function(index, value) {
	                    console.log("Field: "+value+" Type: "+colType[index]);
                            if (value==="Serial") {
                                let dropmenu=''
                                $.each(response, function(index, value) {
	                            dropmenu=dropmenu+'<option value="' + value + '">' + value + '</option>';
                                });
                                console.log(dropmenu)
                                $('#Serial').append(dropmenu);
                            } else if (value.includes("Jig")) {
                                let dropmenu='<label for="' + value + '">' +value+ ':</label><select name="' + value + '" id="' + value + '"><option value="">-- Select a ' + value + '--</option>'
	                            console.log(jig_dict[value])
                                $.each(jig_dict[value], function(index, jig) {
	                                dropmenu=dropmenu+'<option value="' + jig + '">' + jig + '</option>';
	                            });
                                dropmenu=dropmenu+'</select><br><br>'
                                console.log(dropmenu)
                                $('#column-inputs').append(dropmenu);
                           } else if (colType[index]==="tinyint(1)") {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
                                if (value==("QC")){
                                    $('#column-inputs').append('<input type="checkbox" name="' + value + '" id="' + value + '" value="1" disabled> <br><br>');
                                } else if (value.includes("QC")) {
                                    $('#column-inputs').append('<input type="checkbox" class="QCstatus" name="' + value + '" id="' + value + '" value="1"> <br><br>');
                                } else {
	                                $('#column-inputs').append('<input type="checkbox" name="' + value + '" id="' + value + '" value="1"> <br><br>');
                                }
                                //$('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
	                            //$('#column-inputs').append('<select name="' + value + '" id="' + value + '"><option value="0">0</option><option value="1">1</option></select><br><br>');
                            } else if (colType[index]==="text" && (value==="History" || value=="Comments")) {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<textarea style="font-size: 10px; color: #7d7d7d;" name="' + value + '" id="' + value + '" rows=5 cols=60></textarea><br><br>');
                            } else if (value.includes("Data")) {
                                $('#column-inputs').append('<a id="' + value + '_link" name="' + value + '_link" href="" target="_blank">' + value + '</a>:');
                                $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '">')
                                $('#column-inputs').append('<button type="button" id="openPopup' + value.split('_')[0] + '" style="margin-left: 5px;">Upload File</button><br><br>')
                            } else {
                                $('#column-inputs').append('<label for="' + value + '">' + value + ':</label>');
		                        $('#column-inputs').append('<input type="text" name="' + value + '" id="' + value + '"><br><br>');
                            }
                        });
                        $('#eleImg').append('<img src="/static/' + table + '.png" alt="img_' + table + '">')
                        if (initialName) {
                            $("#Serial").val(initialName).trigger("change");
                            console.log(initialName)
                        }
                    },
                        error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
           }
           CreateInputFields();
           // Function to initialize text input with value from database when dropdown selection changes
            $('#Serial').change(function() {
                var selectedName = $(this).val();
                if (selectedName) {
                    $.ajax({
                        url: '/' + table + '/' + selectedName,
                        type: 'GET',
                        success: function(response) {
                            // Populate the text input field with the fetched value
                            $('#new_serial').val(selectedName);
                            $.each(colName, function(index, value) {
                                if (index != 0) {
                                    if (value.includes("Data")) {
                                        const elem1 =  document.getElementById(value);
                                        elem1.value=response.at(index);
                                        console.log(value+": "+response.at(index))
                                        const elem2 =  document.getElementById(value+"_link");
                                        elem2.href="/static/data/"+selectedName+"/"+response.at(index);
                                        console.log(value+": /static/data/"+selectedName+"/"+response.at(index))
                                    }
                                    else{
                                        const elem =  document.getElementById(value);
                                        if (elem.type=="checkbox"){
                                            elem.checked=response.at(index)=="1" ? true:false
                                        } else {
                                            elem.value=response.at(index);
                                        }
                                        console.log(value+": "+response.at(index))
                                    }
                                }
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    // If no module is selected, clear the text input field
                    $('#new_serial').val('');
                    $.each(colName, function(index, value) {
                        if (index != 0) { 
                            const elem =  document.getElementById(value);
                            elem.value='';
                        }
                    });
                }
            });

    
            // Delegate event to document or a specific parent element
            $(document).on('click', '#openPopupIV', function(event) {
                event.preventDefault(); // Prevent default action
                console.log("Opening popup");
                dataTXT = document.getElementById('IV_Data');
                dataLINK = document.getElementById('IV_Data_link');
                showPopup();
            });

            $(document).on('click', '#openPopupDicing', function(event) {
		event.preventDefault(); // Prevent default action
                console.log("Opening popup");
                dataTXT = document.getElementById('Dicing_Data');
                dataLINK = document.getElementById('Dicing_Data_link');
                showPopup();
            });

            // Function to show the popup
            function showPopup() {
                $('#overlay').css('display', 'block');
                $('#popup').css('display', 'block');
                $('#modName').val($('#new_serial').val());
            }

            // Function to hide the popup
            function hidePopup() {
                $('#overlay').css('display', 'none');
                $('#popup').css('display', 'none');
            }

            // Close the popup when close button is clicked
            $(document).on('click', '#closePopup', function() {
                hidePopup();
            });

            // Handle form submission
            $('#uploadForm').on('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                const fileInput = document.getElementById('fileInput');
                const file = fileInput.files[0];
                const nameInput = document.getElementById('modName');
                const modName = nameInput.value;
        
                console.log(file.name)
                console.log("/static/data/" + modName + "/" + file.name)
                if (file) {
                    const formData = new FormData();
                    formData.append('file', file);
                    formData.append('name', modName);
                    // Send the file to the server using fetch
                    fetch('/upload', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        if (data.message === 'File uploaded successfully') {
                            dataTXT.value = file.name;
                            dataLINK.href = "/static/data/" + modName + "/" + file.name;
                            fileInput.value = "";
                            hidePopup();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('File upload failed');
                    });
                } else {
                    alert('Please select a file to upload');
                }
            });
      });
      // Check if there's an error message passed from Flask and display the popup
      {% if error_message %}
      showErrorPopup("{{ error_message }}");
      {% endif %}
    </script>
</head>
<body>




</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    </div>
  <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Update {{ table_name }}</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>
  <div class="form-container">
    <form method="post" id="form">
      <br><br>
      <div id="column-inputs">
	<label for="Serial">Serial:</label>
	<select class="js-example-basic-single" name="Serial" id="Serial" style="width: 200px;">
	  <option value="">-- Select a {{ table_name }} --</option>
	  <!-- Add options dynamically using JavaScript -->
	</select>
	<input type="text" name="new_serial" id="new_serial">
	<br><br>
	
	<!-- Column input fields will be populated dynamically -->
      </div>
      <label for="delete">Delete?</label>
      <input type="checkbox" name="delete" id="delete">
      <br><br>
      <button type="submit" id="submit_button">Update {{ table_name }}</button>
    </form>    
    <div id="eleImg">
      <br><br>
    </div>
  </div>
  <div id="overlay"></div>
  <div id="popup">
      <form id="uploadForm">
          <label for="fileInput">Choose file:</label>
          <input type="file" id="fileInput" name="file">
          <input type="text" id="modName" name="modName">
          <button type="submit" id="upload_button">Upload</button>
          <button type="button" id="closePopup">Close</button>
      </form>
  </div>
</body>
</html>
