<!DOCTYPE html>
<html>
<head>
    <title>PS Assembly Database</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            // Event delegation to handle click events on dynamically populated rows
            $(document).on("click", "tr[data-href]", function() {
                document.location = $(this).data('href');
            });
            // Fetch column names for the selected table
            function fetchColumnNames(selectedTable) {
                $.ajax({
                    url: '/columns/' + selectedTable,
                    type: 'GET',
                    success: function(response) {
                        $('#column').empty();
                        $.each(response, function(index, value) {
                            $('#column').append('<option value="' + value.at(0) + '">' + value.at(0) + '</option>');
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            // Populate column dropdown menu with values for the initially selected table
            var selectedTable = $('#table').val();
            fetchColumnNames(selectedTable);

            // Update column dropdown menu when the selected table changes
            $('#table').change(function() {
                var selectedTable = $(this).val();
                fetchColumnNames(selectedTable);
            });

            // Initialize DataTable
            $('#sortable-table').DataTable();
        });
    </script>
</head>
<body>
    <div class="topbar-container">
        <div class="topbar-content">
            {% if user %}
            <a href="/profile"><i class="fas fa-user-circle"></i>{{ user }}</a><a href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
            {% else %}
            <a href="/profile"><i class="fas fa-user-injured"></i>anonymous</a><a href="/login"><i class="fas fa-sign-in-alt"></i>login</a>
            {% endif %}
        </div>
    </div>
    <div class="header-container">
    <img class="left-image" src="/static/CMSlogo.png" alt="CMS Logo" height="100">
    <div class="title-content">
      <h1>Search Menu</h1>
      <p>
        <a href="/view">Search Menu</a> | <a href="/module">Create/Update Module</a> | <a href="/update">Update Element</a> | <a href="/manage">Manage Assembly</a>
      </p>
      <p>
        <a href="/insert">Insert Single Object</a> | <a href="/load">Insert from file</a> | <a href="/QC">Quality Control</a> | <a href="/DBupload">Construction DB upload</a>
      </p>
    </div>
    <img class="right-image" src="/static/infn.gif" alt="INFN Logo" height="100">
    <img class="right-image2" src="/static/unipg.gif" alt="UNIPG Logo" height="100">
  </div>
    <form method="post">
        <br><br>
        <label for="table">Select a table:</label>
        <select class="js-example-basic-single" name="table" id="table">
            {% for table in tables %}
            <option value="{{ table }}" {% if table == selected_table %}selected{% endif %}>{{ table }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="column">Select a column:</label>
        <select class="js-example-basic-single" name="column" id="column" style="width: 200px;">
            <!-- Column dropdown menu will be populated dynamically -->
        </select>
        <label for="filter_value">Enter filter value:</label>
        <input type="text" name="filter_value" value="{{ filter_value }}">
        <br><br>
        <button type="submit">View Table</button>
    </form>
    {% if selected_table %}
    <h2>Table: {{ selected_table }}</h2>
    {% if column_names and rows %}
    <table id="sortable-table" class="display">
        <thead>
            <tr>
                {% for column_name in column_names %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for row in rows %}
	    {% if selected_table == "PS_Module" %}
            <tr data-href="/module/{{ row[0] }}">
	    {% else %}
            <tr data-href="/update/{{ selected_table }}/{{ row[0] }}">
	    {% endif %}
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available for the selected table.</p>
    {% endif %}
    {% endif %}
</body>
</html>
